.faq {
  .container {
    &.content {
      max-width: $container доказ !important;
    }

    &.intro {
      a {
        &.btn-job-seakers {
          background-color: $amethyst;
          color: $white;
        }

        &.btn-employees {
          background-color: $bermuda;
        }

        @media (max-width: $breakpoint-tablet) {
          display: block;
          width: 60%;
          margin-top: $spacing-sm;
        }
      }

      @media (max-width: $breakpoint-tablet) {
        margin-top: 0;

        h1,
        p {
          text-align: left;
          margin-top: $spacing-lg;
        }

        h1 {
          font-size: $font-size-h1-mobile;
          line-height: $lh-normal;
        }
      }
    }
  }

  h2 {
    font-family: $font-family;
    color: $tolopea;
    font-weight: $font-weight-semibold;
    font-size: $font-size-3xl;
    line-height: $lh-normal;
    margin: $spacing-section 0 $spacing-xl;

    @media (max-width: $breakpoint-tablet) {
      margin: $spacing-lg 0 $spacing-sm;
    }
  }

  h3 {
    font-family: $font-family;
    color: $tolopea;
    font-weight: $font-weight-semibold;
    font-size: $font-size-md;
    line-height: $lh-normal;
  }

  ol li {
    font-family: $font-family;
    color: $tolopea;
    font-weight: $font-weight-semibold;
    font-size: $font-size-md;
    line-height: $lh-normal;
    margin: $spacing-sm 0;

    p {
      font-weight: $font-weight-regular;
      font-size: $font-size-xl;
      line-height: $lh-body;
      margin: 5px 0;
    }
  }

  .accordion {
    border: 0;
    border-radius: $radius-sm;
    background-color: $white;

    &-item {
      border: 0;
      margin-bottom: $spacing-lg;
    }

    &-job-seekers .accordion-button {
      background-color: $blue-chalk;
    }

    &-employers .accordion-button {
      background-color: $bermuda;
    }

    &-general .accordion-button {
      background-color: $titan-white;
    }
  }
}

.pricing {
  .container {
    &.intro {
      max-width: 691px !important;
      margin-top: $spacing-section;

      @media (max-width: $breakpoint-tablet) {
        margin-top: 0;

        h1,
        p {
          text-align: left;
          margin-top: $spacing-lg;
        }

        h1 {
          font-size: $font-size-h1-mobile;
          line-height: $lh-normal;
        }
      }
    }

    &.content {
      max-width: $container !important;
      margin-top: $spacing-2xl;

      h2 {
        font-family: $font-family;
        color: $tolopea;
        font-weight: $font-weight-semibold;
        font-size: $font-size-3xl;
        margin-top: $spacing-2xl;
      }

      p.subtitle {
        font-family: $font-family;
        color: $tolopea;
        font-weight: $font-weight-semibold;
        font-size: $font-size-xl;
        margin-bottom: $spacing-xl;
      }

      .model-name {
        padding: $spacing-lg $spacing-md;
        font-family: $font-family;
        font-weight: $font-weight-semibold;
      }

      .price {
        padding: $spacing-lg $spacing-md;
        font-family: $font-family;
        font-size: $font-size-2xl;
        font-weight: $font-weight-semibold;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }

  .price-model {
    display: block;
    height: 430px;
    margin: 0 5px;
    position: relative;
  }

  .price-model-one {
    background-color: $iceberg;

    .price {
      background-color: $bermuda;
    }
  }

  .price-model-two,
  .price-model-three,
  .price-model-four {
    background-color: $titan-white;

    .price {
      background-color: $melrose;
    }
  }

  .price-model-five {
    background-color: $blue-chalk;

    .price {
      background-color: $amethyst;
      color: $white;
    }
  }
}

.contact {
  .container {
    max-width: $container !important;
    margin-top: $spacing-section;

    @media (max-width: $breakpoint-tablet) {
      margin-top: $spacing-lg;
    }
  }

  h2,
  label {
    font-family: $font-family;
    color: $tolopea;
    font-weight: $font-weight-semibold;
    font-size: $font-size-md;
  }

  p {
    margin-top: $spacing-sm;
  }

  p.highlighted-text {
    font-family: $font-family;
    color: $amethyst;
    font-weight: $font-weight-semibold;
    font-size: $font-size-sm;
    margin-top: $spacing-md;
  }

  input,
  textarea {
    background-color: $melrose-rgb-25;
    padding: $spacing-lg;
    border: 0;
    width: 100%;
    margin-top: $spacing-sm;

    &::placeholder {
      font-family: $font-family;
      font-weight: $font-weight-semibold;
      font-size: $font-size-md;
      color: $tolopea;
    }
  }

  textarea {
    height: 150px;
  }

  sup {
    color: red;
    font-size: 20px;
    font-family: $font-family;
  }

  form {
    .form-check {
      margin-top: $spacing-lg;
    }

    a.send-message {
      display: block;
      width: 30%;

      @media (max-width: $breakpoint-tablet) {
        width: 60%;
      }
    }
  }
}
