// Footer komponenta

.site-footer {

  .footer-logo {
    img{
        width: 100%;
        max-width: 352px;
    }
    &:hover {
      opacity: 0.8;
      transition: opacity 0.3s ease;
    }
  }

  .social-links {
    .social-link {
      display: inline-flex;
      width: 24px;
      height: 24px;

      &:hover {
        background-color: transparent;
      }

      i {
        font-size: 1.125rem;
      }
    }
  }

  .footer-nav {
    .footer-link {
      color: $tolopea;
      text-decoration: none;
      font-size: 0.95rem;
      transition: color 0.3s ease;
      font-size: $font-size-md;

      &:hover {
        color: $amethyst;
      }
    }
  }

  @media (max-width: 767.98px) {
    .footer-nav ul {
      flex-direction: column !important;
      gap: 1rem !important;
    }
  }
}
