.custom-scroll-pin-wrapper{
  .section-title{
    margin-bottom: 40px;
  }
  h2, p{
    margin-bottom: 16px;
    font-weight: 600;
  }
  img{
    margin-bottom:48px;
  }

  @media (max-width: $breakpoint-md) {
    margin-bottom: 40px;
  }

}

@media (min-width: $breakpoint-md) {
.custom-scroll-pin-images {
  position: relative;
  height: 100%;
  
  .custom-scroll-pin-image {
    position: absolute;
    inset: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    
    &:nth-child(1) {
      z-index: 4;
    }
    
    &:nth-child(2) {
      z-index: 3;
    }
    
    &:nth-child(3) {
      z-index: 2;
    }
    
    > img {
      height: auto;
      width: 100%;
      border-radius: $border-radius-lg;
      object-fit: cover;
      object-position: center;
      overflow: hidden;
    }

    p{
      @media (min-width: $breakpoint-md) {
        display: none;
      }
    }
  }
}

// Custom Scroll Pin List
ul.custom-scroll-pin-list {
  position: relative;
  padding-left: 0;
  list-style: none;
  
  > li {
    --custom-pin-progression: 0;
    display: block;
    position: relative;
    margin-block: 0;
    padding: 0.75rem 0 0.75rem calc(0.5rem + 1rem);
    opacity: 0.25;
    font-weight: 600;

    &.active {
      opacity: 1;
    }
  }
  
  // Shared progress bar styles
  &::before,
  > li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5rem;
    height: 100%;
    background-color: $amethyst;
    opacity: 0.25;
    border-radius: 100px;
  }

  li:before{
    border-radius: 0;
  }

  li:first-child::before{
    border-radius: 100px 100px 0 0;
  }

  li:last-child::before{
    border-radius: 0 0 100px 100px;
  }
  
  // List item specific progress bar
  > li::before {
    opacity: 1;
    transform-origin: left top;
  }
}

// ✅ SAMO DODAJ ovo uz postojeći SCSS
.custom-scroll-pin-wrapper {
  .custom-scroll-pin-element {
    height: auto;
    padding-top: 150px;

    .inner-col.col-md-7.col-images {
      position: relative;
    }
    

    .inner-col.col-md-4 {
      position: sticky;
      top: 20px; // Mali padding
      z-index: 10;

      @media (min-width: $breakpoint-md) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  h2{
    margin-bottom: $spacing-md;
    font-size: 31px;

    @media (min-width: $breakpoint-md) {
     font-size: 39px;
    }
  }

  h3{

    @media (min-width: $breakpoint-md) {
     font-size: 32px;
    }
  }

  .section-title{

    @media (min-width: $breakpoint-md) {
      margin-bottom: 100px;
    }
  }
}
}

.custom-scroll-pin-wrapper:nth-child(2){
  ul.custom-scroll-pin-list:before, ul.custom-scroll-pin-list>li:before{
    background: $melrose;
  }
}