// Hero sekcija komponenta - kompatibilna sa Gutenberg blokovima

.hero {
  position: relative;

  @include media-breakpoint-up(md) {
    padding: 180px 0;
  }

  &::after {
    content: '';
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    background-image: url('../img/hero.png');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    z-index: 0;
    display: block;
    aspect-ratio: 1 / 1;
    margin-left: auto;

    @include media-breakpoint-up(md) {
        position: absolute;
    }
  }
}



