.swiper {
  .swiper-slide {
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    width: 100%;
    max-width: 770px;
    margin: 0 auto;

    @media (min-width: 1440px) {
      .swiper-slide {
        width: 100%;
        max-width: 770px;
      }
    }
  }

  .swiper-slide-active {
    .card-item {
      transform: scale(1) rotate(0deg) !important;
      margin-top: 0 !important;
    }
  }

  .swiper-slide-prev {
    top: 30px;
    .card-item {
      transform: rotate(-15deg) !important;
      margin-top: 60px !important;
    }
  }

  .swiper-slide-next {
    top: 30px;
    .card-item {
      transform: rotate(15deg) !important;
      margin-top: 60px !important;
    }
  }

  // Ostali slides - manje vidljivi
  .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-prev):not(.swiper-slide-next) {
    .card-item {
      opacity: 0.6;
      transform: scale(0.75) !important;
      margin-top: 60px !important;
    }
  }

  .card-item {
    padding: 64px 100px;
    background: $melrose;
    border-radius: 16px;
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    will-change: transform;
    width: 100%;
  }
}

.swiper-container{
  padding: 44px 0 74px;
  background-image: url('../img/map.svg');
  background-repeat: no-repeat;
  background-position: bottom;

  &.titan-white{
    background-color: $titan-white;
  }
}