.carousel{
    padding: 100px 0;

    .swiper-container{
        padding: 50px 0;
        background-image: url('../img/map.svg');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        background-color: $titan-white;
        border-radius: $border-radius-md;

        .swiper-slide{
            //background-color: $melrose;
            border-radius: $border-radius-md;
            background-image: url("data:image/svg+xml,%3Csvg%20width='78'%20height='63'%20viewBox='0%200%2078%2063'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M34.6%207.2L22.4%2030C28.2%2031.6%2033.4%2037.4%2033.4%2045C33.4%2054.4%2026%2062.2%2016.8%2062.2C7.8%2062.2%200%2054.6%200%2045C0%2041.2%201.2%2036.4%205.6%2028.4L21%200L34.6%207.2ZM77.6%207.2L65.4%2030C71.2%2031.6%2076.4%2037.4%2076.4%2045C76.4%2054.4%2069%2062.2%2059.6%2062.2C50.8%2062.2%2043%2054.6%2043%2045C43%2041.2%2044.2%2036.4%2048.6%2028.4L64%200L77.6%207.2Z'%20fill='%2318034F'%20fill-opacity='0.1'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: 77px auto;
            background-position: 60px 30px;
            max-width: 770px;
            height: 100px;
            opacity: 0.5;
            transition: opacity 0.3s ease;

            &.swiper-slide-active {
                opacity: 1;
                max-width: 770px;
            }

            &.swiper-slide-next,
            &.swiper-slide-prev {
                opacity: 0.6;
            }

            @media (min-width: $breakpoint-md) {
                border-radius: $border-radius-lg;
            }
        }
    }
}