// src/styles/main.scss

// 1️⃣ Base styles FIRST (variables, mixins must load before Bootstrap)
@import "./base/variables";
@import "./base/mixins";

// 2️⃣ Bootstrap (uses variables from above)
@import "./bootstrap/bootstrap";

// Legacy components
@import "./components/navbar";
@import "./components/hero";
@import "./components/back-to-top";
@import "./components/footer";
@import "./components/gsap-carousel";
@import "./components/image-text.scss";

@import "./components/blog";
@import "./layout/pages";
@import "./layout/contact";
@import "./layout/pricing";
@import "./layout/faq";

// SwiperJS
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';
@import 'swiper/css/autoplay';
@import './components/swiper.scss';

// Layout
@import "./layout/style";
@import "./layout/pages";